body {
    font-family: "Lato", sans-serif;
    margin: 0;
    font-size: 18px;
}

.pre { 
    font-family: monospace; 
    overflow: auto;
    background-colot:#333;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 0;
    top: 45px;
    left: 0;
    background-color: #FFD230;
    overflow-x: hidden;
    padding-top: 0px;
}

.sidenav a {
    padding: 0px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #555;
}

.pre{
  font-family: monospace, monospace;
}
pre {
  overflow: auto;
}


.collapsible ,.select{
    background-color: #FFD230;
    color: #111;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.main {
    padding: 60px 10px;
    margin-top: 50x; 
    margin-left: 200px; 
}

.active, .collapsible:hover {
    background-color: #777;
    color: #f2f2f2;
}

.select:hover {
    color: #777;
}

.content {
    padding-left: 26px;
    display: none;
    overflow: hidden;
    color: #777;
    background-color: #FFD230;
}

#navbar {
    z-index: 2;
    overflow: hidden;
    background-color: #777;
}


#navbar a {
    float: left;
    display: block;
    color: #FFD230;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 5px;}
  .sidenav a {font-size: 18px;}
}
